In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import geopy
from sklearn import preprocessing, cluster
import scipy

In [2]:
data= pd.read_csv('D:/PYTHON/Bolt/robotex5.csv')

In [3]:
data.head()

,start_time,start_lat,start_lng,end_lat,end_lng,ride_value
0,2022-03-06 15:02:39.329452000,59.407910,24.689836,59.513027,24.831630,3.51825
1,2022-03-10 11:15:55.177526000,59.441650,24.762712,59.426450,24.783076,0.50750
2,2022-03-06 14:23:33.893257000,59.435404,24.749795,59.431901,24.761588,0.19025
3,2022-03-03 09:11:59.104192000,59.406920,24.659006,59.381093,24.641652,0.75600
4,2022-03-06 00:13:01.290346000,59.434940,24.753641,59.489203,24.876170,2.27100

In [4]:
data.shape

(627210, 6)

In [5]:
#sorted the values with respect to start_time
data.sort_values(by = 'start_time', ascending=True, inplace=True)
data

,start_time,start_lat,start_lng,end_lat,end_lng,ride_value
589247,2022-03-01 00:00:07.936317000,59.438142,24.728677,59.553133,24.802705,3.352000
613394,2022-03-01 00:00:17.556188000,59.443230,24.753330,59.391667,24.722047,1.495000
557451,2022-03-01 00:00:20.355945000,59.431849,24.768252,59.433692,24.728579,0.552750
266890,2022-03-01 00:00:20.690881000,59.439587,24.748874,59.452895,24.871234,1.737250
191825,2022-03-01 00:00:25.804142000,59.367751,24.645455,59.396104,24.800205,2.286750
...,...,...,...,...,...,...
390165,2022-03-28 23:59:19.601000000,59.441576,24.739099,59.466716,24.832512,1.467973
526320,2022-03-28 23:59:19.757876000,59.434211,24.560813,59.436173,24.831474,3.755750
259524,2022-03-28 23:59:22.883111000,59.430173,24.773986,59.435510,24.819229,0.644750
460264,2022-03-28 23:59:42.778225000,59.434750,24.746043,59.445609,24.697914,0.732500
169074,2022-03-28 23:59:53.175658000,59.434520,24.746352,59.490741,24.836812,2.002250

In [6]:
#separating date and timestamps
data['Dates'] = pd.to_datetime(data['start_time']).dt.date
data['Time'] = pd.to_datetime(data['start_time']).dt.time

In [7]:
data

,start_time,start_lat,start_lng,end_lat,end_lng,ride_value,Dates,Time
589247,2022-03-01 00:00:07.936317000,59.438142,24.728677,59.553133,24.802705,3.352000,2022-03-01,00:00:07.936317
613394,2022-03-01 00:00:17.556188000,59.443230,24.753330,59.391667,24.722047,1.495000,2022-03-01,00:00:17.556188
557451,2022-03-01 00:00:20.355945000,59.431849,24.768252,59.433692,24.728579,0.552750,2022-03-01,00:00:20.355945
266890,2022-03-01 00:00:20.690881000,59.439587,24.748874,59.452895,24.871234,1.737250,2022-03-01,00:00:20.690881
191825,2022-03-01 00:00:25.804142000,59.367751,24.645455,59.396104,24.800205,2.286750,2022-03-01,00:00:25.804142
...,...,...,...,...,...,...,...,...
390165,2022-03-28 23:59:19.601000000,59.441576,24.739099,59.466716,24.832512,1.467973,2022-03-28,23:59:19.601000
526320,2022-03-28 23:59:19.757876000,59.434211,24.560813,59.436173,24.831474,3.755750,2022-03-28,23:59:19.757876
259524,2022-03-28 23:59:22.883111000,59.430173,24.773986,59.435510,24.819229,0.644750,2022-03-28,23:59:22.883111
460264,2022-03-28 23:59:42.778225000,59.434750,24.746043,59.445609,24.697914,0.732500,2022-03-28,23:59:42.778225
169074,2022-03-28 23:59:53.175658000,59.434520,24.746352,59.490741,24.836812,2.002250,2022-03-28,23:59:53.175658

In [8]:
data['Dates'].unique()
# concluded that it has 30 days of March data

array([datetime.date(2022, 3, 1), datetime.date(2022, 3, 2),
       datetime.date(2022, 3, 3), datetime.date(2022, 3, 4),
       datetime.date(2022, 3, 5), datetime.date(2022, 3, 6),
       datetime.date(2022, 3, 7), datetime.date(2022, 3, 8),
       datetime.date(2022, 3, 9), datetime.date(2022, 3, 10),
       datetime.date(2022, 3, 11), datetime.date(2022, 3, 12),
       datetime.date(2022, 3, 13), datetime.date(2022, 3, 14),
       datetime.date(2022, 3, 15), datetime.date(2022, 3, 16),
       datetime.date(2022, 3, 17), datetime.date(2022, 3, 18),
       datetime.date(2022, 3, 19), datetime.date(2022, 3, 20),
       datetime.date(2022, 3, 21), datetime.date(2022, 3, 22),
       datetime.date(2022, 3, 23), datetime.date(2022, 3, 24),
       datetime.date(2022, 3, 25), datetime.date(2022, 3, 26),
       datetime.date(2022, 3, 27), datetime.date(2022, 3, 28)],
      dtype=object)

In [9]:
# Finding How many orders are coming in specific areas(lat,longitude)
start_unique_area_order_count= data.groupby(['start_lat','start_lng']).size().reset_index().rename(columns={0:'count'})

In [10]:
start_unique_area_order_count

        start_lat  start_lng  count
0       59.321557  24.659432      1
1       59.321562  24.659258      2
2       59.322904  24.697609      1
3       59.322922  24.697566      2
4       59.328477  24.563372      4
...           ...        ...    ...
352306  59.565408  24.796517      3
352307  59.566246  24.796271      2
352308  59.566677  24.795947      2
352309  59.566823  24.795946      1
352310  59.566998  24.796278      1

[352311 rows x 3 columns]

In [11]:
# finding how much value is generated by specific area in terms of price.
start_unique_area_order_price= data.groupby(['start_lat','start_lng'])['ride_value'].sum().reset_index().rename(columns={0:'count'})

In [12]:
start_unique_area_order_price

        start_lat  start_lng  ride_value
0       59.321557  24.659432    2.285250
1       59.321562  24.659258    5.855500
2       59.322904  24.697609    3.333307
3       59.322922  24.697566    6.655500
4       59.328477  24.563372   15.722000
...           ...        ...         ...
352306  59.565408  24.796517   11.685750
352307  59.566246  24.796271    6.810500
352308  59.566677  24.795947    5.484500
352309  59.566823  24.795946    4.863000
352310  59.566998  24.796278    4.136500

[352311 rows x 3 columns]

In [13]:
#finding unique areas and the timestamp of the order
start_unique_timestamps= data.groupby(['start_lat','start_lng'])['Time'].unique().reset_index().rename(columns={0:'count'})

In [14]:
start_unique_timestamps

        start_lat  start_lng               Time
0       59.321557  24.659432  [02:00:53.703986]
1       59.321562  24.659258  [02:00:28.112210]
2       59.322904  24.697609  [20:01:17.532000]
3       59.322922  24.697566  [20:01:08.862207]
4       59.328477  24.563372  [13:34:08.673127]
...           ...        ...                ...
352306  59.565408  24.796517  [21:29:08.409254]
352307  59.566246  24.796271  [02:55:56.437261]
352308  59.566677  24.795947  [14:47:16.118351]
352309  59.566823  24.795946  [23:46:22.744482]
352310  59.566998  24.796278  [02:04:34.031222]

[352311 rows x 3 columns]

In [16]:
# Combining (areas by order count) and (areas by order price)

df_count_price = pd.merge(start_unique_area_order_count, start_unique_area_order_price,  how='inner', 
                          left_on=['start_lat','start_lng'], right_on = ['start_lat','start_lng'])

In [17]:
df_count_price

        start_lat  start_lng  count  ride_value
0       59.321557  24.659432      1    2.285250
1       59.321562  24.659258      2    5.855500
2       59.322904  24.697609      1    3.333307
3       59.322922  24.697566      2    6.655500
4       59.328477  24.563372      4   15.722000
...           ...        ...    ...         ...
352306  59.565408  24.796517      3   11.685750
352307  59.566246  24.796271      2    6.810500
352308  59.566677  24.795947      2    5.484500
352309  59.566823  24.795946      1    4.863000
352310  59.566998  24.796278      1    4.136500

[352311 rows x 4 columns]

In [19]:
# merge df_count_price with "start_unique_timestamps" to create a base table(df_count_price_time)

df_count_price_time = pd.merge(df_count_price, start_unique_timestamps,  how='inner', 
                               left_on=['start_lat','start_lng'], right_on = ['start_lat','start_lng'])

In [20]:
df_count_price_time

        start_lat  start_lng  count  ride_value               Time
0       59.321557  24.659432      1    2.285250  [02:00:53.703986]
1       59.321562  24.659258      2    5.855500  [02:00:28.112210]
2       59.322904  24.697609      1    3.333307  [20:01:17.532000]
3       59.322922  24.697566      2    6.655500  [20:01:08.862207]
4       59.328477  24.563372      4   15.722000  [13:34:08.673127]
...           ...        ...    ...         ...                ...
352306  59.565408  24.796517      3   11.685750  [21:29:08.409254]
352307  59.566246  24.796271      2    6.810500  [02:55:56.437261]
352308  59.566677  24.795947      2    5.484500  [14:47:16.118351]
352309  59.566823  24.795946      1    4.863000  [23:46:22.744482]
352310  59.566998  24.796278      1    4.136500  [02:04:34.031222]

[352311 rows x 5 columns]

In [21]:
# sorted the base table W.R.T count & ride_value : giving priority to ride counts

df_count_price_time_sort= df_count_price_time.sort_values(['ride_value', 'count'], ascending=False).head(10)

In [22]:
df_count_price_time_sort

        start_lat  start_lng  count   ride_value               Time
348257  59.502319  24.839914      5  14307.86750  [15:24:19.207958]
185587  59.432966  24.849203      5  14299.31625  [14:11:35.869550]
339918  59.460392  24.850857      4  11442.29100  [17:41:43.659917]
173878  59.431848  24.764103      4  11437.42300  [16:31:25.007796]
288311  59.441274  24.736126      5  10542.76125  [00:49:09.724434]
171245  59.431538  24.731525      6  10107.25050  [21:05:12.370502]
168204  59.431149  24.760768      3   8577.98700  [12:03:34.151834]
79460   59.416557  24.640399      3   8574.82800  [06:41:35.164733]
149554  59.429073  24.778038      3   8546.66100  [23:10:42.847766]
187638  59.433144  24.768756      4   8490.83500  [07:04:01.830430]

# Question 1 + 2
1- Explore the data and suggest a solution to guide the drivers towards areas with higher expected demand at given time and location
 
2- Build and document a baseline model for your solution

### Making Map using the final DF made above: df_count_price_time_sort

In [23]:
map = folium.Map(location=[df_count_price_time_sort.start_lat.mean(), df_count_price_time_sort.start_lng.mean()],
                 zoom_start=14, control_scale=True)

In [ ]:
map

In [24]:
for index, location_info in df_count_price_time_sort.iterrows():
    folium.Marker([location_info["start_lat"], location_info["start_lng"]], popup=location_info["count"]).add_to(map)

In [25]:
map

In [ ]:
#df_merge = pd.merge(data, df_count_price_time_sort , how='inner', on=['start_lat','start_lng'])

In [ ]:
data.head()

In [ ]:
X = data[["start_lat","start_lng"]]
max_k = 10

## iterations
distortions = [] 
for i in range(1, max_k+1):
    if len(X) >= i:
       model = cluster.KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10, random_state=0)
       model.fit(X)
       distortions.append(model.inertia_)
    
## best k: the lowest derivative
k = [i*100 for i in np.diff(distortions,2)].index(min([i*100 for i 
     in np.diff(distortions,2)]))

## plot
fig, ax = plt.subplots()
ax.plot(range(1, len(distortions)+1), distortions)
ax.axvline(k, ls='--', color="red", label="k = "+str(k))
ax.set(title='The Elbow Method', xlabel='Number of clusters', 
       ylabel="Distortion")
ax.legend()
ax.grid(True)
plt.show()

In [ ]:
k = 6
model = cluster.KMeans(n_clusters=k, init='k-means++')
X = data[["start_lat","start_lng"]]

In [ ]:
X

In [ ]:
## clustering 
data_X = X.copy()
data_X["cluster"] = model.fit_predict(X)

In [ ]:
data_X

In [ ]:
## clustering
data_X = X.copy()
data_X["cluster"] = model.fit_predict(X)

## find real centroids
closest, distances = scipy.cluster.vq.vq(model.cluster_centers_, 
                     data_X.drop("cluster", axis=1).values)
data_X["centroids"] = 0
for i in closest:
    data_X["centroids"].iloc[i] = 1
    
## add clustering info to the original dataset
data[["cluster","centroids"]] = data_X[["cluster","centroids"]]
data.sample(5)

In [ ]:
closest

In [ ]:
data[data['centroids']==1]

In [ ]:
## plot
fig, ax = plt.subplots()
sns.scatterplot(x="start_lat", y="start_lng", data=data, 
                palette=sns.color_palette("bright",k),
                hue='cluster', size="centroids", size_order=[1,0],
                legend="brief", ax=ax)
th_centroids = model.cluster_centers_
ax.scatter(th_centroids[:,0], th_centroids[:,1], s=50, c='black', 
           marker="x")

In [ ]:
data.head()

In [ ]:
df_data_count = pd.merge(data,df_count_price_time_sort,  how='left', on=['start_lat','start_lng'])

In [ ]:
df_data_count

In [ ]:
cluster_groupby_pricevalue= data.groupby(['cluster'])['ride_value'].sum().reset_index().rename(columns={0:'count'})

In [ ]:
cluster_groupby_pricevalue

In [ ]:
viz= cluster_groupby_pricevalue.plot.bar()

In [ ]:
cluster_groupby_ridecount= df_data_count.groupby(['cluster'])['count'].sum().reset_index().rename(columns={0:'count'})

In [ ]:
cluster_groupby_ridecount

In [ ]:
viz2= cluster_groupby_ridecount.plot.bar()

In [ ]:
#Making a score for DRIVER. Area SCORES recommended inside the Cluster to the driver.

In [ ]:
# Goes inside the cluster -> At a specific TIME if we have 3 areas, which one to go with?